Data Dictionary

| Column Name	| Description	| Type |
| ----- | --- | --- |
| CRASH DATE	 | Occurrence date of collision | Date & Time |
 |CRASH TIME	 | Occurrence time of collision | Plain Text |
 |BOROUGH	 | Borough where collision occurred | Plain Text |
 |ZIP CODE	 | Postal code of incident occurrence | Plain Text |
 |LATITUDE	 | Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) | Number |
 |LONGITUDE	 | Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) | Number |
 |LOCATION	 | Latitude , Longitude pair | Location |
 |ON STREET NAME	 | Street on which the collision occurred | Plain Text |
 |CROSS STREET NAME	 | Nearest cross street to the collision | Plain Text |
 |OFF STREET NAME	 | Street address if known | Plain Text |
 |NUMBER OF PERSONS INJURED	 | Number of persons injured | Number |
 |NUMBER OF PERSONS KILLED	 | Number of persons killed | Number |
 |NUMBER OF PEDESTRIANS INJURED	 | Number of pedestrians injured | Number |
 |NUMBER OF PEDESTRIANS KILLED	 | Number of pedestrians killed | Number |
 |NUMBER OF CYCLIST INJURED	 | Number of cyclists injured | Number |
 |NUMBER OF CYCLIST KILLED	 | Number of cyclists killed | Number |
 |NUMBER OF MOTORIST INJURED	 | Number of vehicle occupants injured | Number |
 |NUMBER OF MOTORIST KILLED	 | Number of vehicle occupants killed | Number |
 |CONTRIBUTING FACTOR VEHICLE 1	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |CONTRIBUTING FACTOR VEHICLE 2	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |CONTRIBUTING FACTOR VEHICLE 3	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |CONTRIBUTING FACTOR VEHICLE 4	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |CONTRIBUTING FACTOR VEHICLE 5	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |COLLISION_ID	 | Unique record code generated by system. Primary Key for Crash table. | Number |
 |VEHICLE TYPE CODE 1	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |
 |VEHICLE TYPE CODE 2	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |
 |VEHICLE TYPE CODE 3	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |
 |VEHICLE TYPE CODE 4	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |
 |VEHICLE TYPE CODE 5	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |

In [74]:
pip3 install urllib2

SyntaxError: invalid syntax (2950943787.py, line 1)

In [75]:
# Import libraries
import pandas as pd
from zipfile import ZipFile
import os
import warnings
warnings.filterwarnings('ignore')
import numpy as np
from geopy.geocoders import ArcGIS
geolocator = ArcGIS(scheme="https")
import itertools
import sys
import time
import requests

In [20]:
# Load the data
with ZipFile('motor.csv.zip') as z:
    all_files = z.namelist()
    motor1 = pd.read_csv(z.open(all_files[0]))

In [48]:
# Preliminary data cleaning

# Make a copy of the dataframe
motor = motor1.copy()

# Drop unnecessary rows
motor.drop(motor[motor.LONGITUDE < -75].index, axis = 0, inplace = True)
motor.drop(motor[motor.LONGITUDE > -73].index, axis = 0, inplace = True)
motor.drop(motor[motor.LATITUDE > 41].index, axis = 0, inplace = True)
motor.drop(motor[motor.LATITUDE < 40].index, axis = 0, inplace = True)           

# Drop unnecessary columns
# motor.drop(['LONGITUDE', 'LATITUDE'], axis = 1, inplace = True)

# Typecast columns
# motor['CRASH DATE'] = pd.to_datetime(motor['CRASH DATE'])
# motor['CRASH TIME'] = pd.to_datetime(motor['CRASH TIME'])
# motor['ZIP CODE'] = motor['ZIP CODE'].astype('int')
# motor['NUMBER OF PERSONS INJURED'] = motor['NUMBER OF PERSONS INJURED'].astype('int')
# motor['NUMBER OF PERSONS KILLED'] = motor['NUMBER OF PERSONS KILLED'].astype('int')
# motor['NUMBER OF PEDESTRIANS INJURED'] = motor['NUMBER OF PEDESTRIANS INJURED'].astype('int')
# motor['NUMBER OF PEDESTRIANS KILLED'] = motor['NUMBER OF PEDESTRIANS KILLED'].astype('int')
# motor['NUMBER OF CYCLIST INJURED'] = motor['NUMBER OF CYCLIST INJURED'].astype('int')
# motor['NUMBER OF CYCLIST KILLED'] = motor['NUMBER OF CYCLIST KILLED'].astype('int')
# motor['NUMBER OF MOTORIST INJURED'] = motor['NUMBER OF MOTORIST INJURED'].astype('int')
# motor['NUMBER OF MOTORIST KILLED'] = motor['NUMBER OF MOTORIST KILLED'].astype('int')

# Lowercase and Uppercase
motor['BOROUGH'] = motor['BOROUGH'].str.upper()
motor['ON STREET NAME'] = motor['ON STREET NAME'].str.upper()
motor['CROSS STREET NAME'] = motor['CROSS STREET NAME'].str.upper()
motor['OFF STREET NAME'] = motor['OFF STREET NAME'].str.upper()
motor['CONTRIBUTING FACTOR VEHICLE 1'] = motor['CONTRIBUTING FACTOR VEHICLE 1'].str.lower()
motor['CONTRIBUTING FACTOR VEHICLE 2'] = motor['CONTRIBUTING FACTOR VEHICLE 2'].str.lower()
motor['CONTRIBUTING FACTOR VEHICLE 3'] = motor['CONTRIBUTING FACTOR VEHICLE 3'].str.lower()
motor['CONTRIBUTING FACTOR VEHICLE 4'] = motor['CONTRIBUTING FACTOR VEHICLE 4'].str.lower()
motor['CONTRIBUTING FACTOR VEHICLE 5'] = motor['CONTRIBUTING FACTOR VEHICLE 5'].str.lower()
motor['VEHICLE TYPE CODE 1'] = motor['VEHICLE TYPE CODE 1'].str.lower()
motor['VEHICLE TYPE CODE 2'] = motor['VEHICLE TYPE CODE 2'].str.lower()
motor['VEHICLE TYPE CODE 3'] = motor['VEHICLE TYPE CODE 3'].str.lower()
motor['VEHICLE TYPE CODE 4'] = motor['VEHICLE TYPE CODE 4'].str.lower()
motor['VEHICLE TYPE CODE 5'] = motor['VEHICLE TYPE CODE 5'].str.lower()

# Contributing Factor Vehicle Fill blanks, NaNs with 'Unspecified'
motor[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].fillna('Unspecified', inplace = True)
motor[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].replace(' ', 'Unspecified', regex = False, inplace = True)
motor[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].replace('', 'Unspecified', regex = False, inplace = True)
motor[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].replace('nan', 'Unspecified', regex = False, inplace = True)
motor[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].replace('reaction to other uninvolved vehicle', 'reaction to uninvolved vehicle', regex = False, inplace = True)
motor[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].replace('1', 'Unspecified', regex = False, inplace = True)
motor[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].replace('80', 'Unspecified', regex = False, inplace = True)
motor[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].replace('illnes', 'illness', regex = False, inplace = True)

# Vehicle Type Code Fill blanks, NaNs with None
motor[['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3',
'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']].replace(np.nan, None, inplace = True)
motor[['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3',
'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']].replace(' ', None, regex = False, inplace = True)
motor[['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3',
'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']].replace('', None, regex = False, inplace = True)
motor[['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3',
'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']].replace('nan', None, regex = False, inplace = True)

# Replace empty strings with NaN
motor['ON STREET NAME'].replace(' ', None, regex=False, inplace=True)
motor['CROSS STREET NAME'].replace(' ', None, regex=False, inplace=True)
motor['OFF STREET NAME'].replace(' ', None, regex=False, inplace=True)

# Create a new column 'Street' that combines the street names of New York
# On-Street and Cross_street can exist at the same time, so we need to combine them
# Off-Street is a separate entity
motor['Street'] = np.where((motor['ON STREET NAME'].notnull()) & (motor['CROSS STREET NAME'].notnull()), motor['ON STREET NAME'] + ' ' + motor['CROSS STREET NAME'] + ', New York, NY, USA', 
                    np.where((motor['ON STREET NAME'].notnull()) & (motor['CROSS STREET NAME'].isnull()), motor['ON STREET NAME'] + ', New York, NY, USA',
                    np.where((motor['ON STREET NAME'].isnull()) & (motor['CROSS STREET NAME'].notnull()), motor['CROSS STREET NAME'] + ', New York, NY, USA',
                    np.where((motor['OFF STREET NAME'].notnull()), motor['OFF STREET NAME'] + ', New York, NY, USA', None))))

# Drop unnecessary columns
# motor.drop(['ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME'], axis = 1, inplace = True)

### Location Analysis - BOROUGH and ZIP CODE
We have ~30,000 rows where there's no street and no location information. \
motor.loc[motor.Street.isnull() & motor.LOCATION.isnull()]

In [78]:
# Google Maps API
GM_API_KEY = 'AIzaSyBCwYi27cXYlRWTM04KJgHBjjhJLzkao2M'
from geopy.geocoders import GoogleV3
geolocator = GoogleV3(api_key=GM_API_KEY)

# Define the function to get the latitude and longitude from the address
def lat_long(Street):
    location = geolocator.geocode(Street)
    return location

# Define the function to get the address from the latitude and longitude
def address(LOCATION):
    location = geolocator.reverse(LOCATION[1:-1])
    return location



def test(Street):
    address = Street.replace(' ', '+')
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address, GM_API_KEY)
    response = requests.get(url)
    data = response.json()
    return data

In [85]:
motor

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,Street,Type VEHICLE 1,Type VEHICLE 2,Type VEHICLE 3,Type VEHICLE 4,Type VEHICLE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,sedan,NaN,NaN,NaN,"WHITESTONE EXPRESSWAY 20 AVENUE, New York, USA",car/suv,car/suv,None,None,None
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,"QUEENSBORO BRIDGE UPPER, New York, USA",car/suv,None,None,None,None
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,pick-up truck,NaN,NaN,NaN,"THROGS NECK BRIDGE, New York, USA",car/suv,truck/bus,None,None,None
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,"1211 LORING AVENUE, New York, USA",car/suv,None,None,None,None
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,"SARATOGA AVENUE DECATUR STREET, New York, USA",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056538,01/23/2024,16:10,STATEN ISLAND,10301.0,40.612442,-74.094635,"(40.612442, -74.094635)",NaN,NaN,146 LONGVIEW ROAD,...,sedan,NaN,NaN,NaN,"146 LONGVIEW ROAD, New York, USA",car/suv,car/suv,None,None,None
2056539,01/23/2024,12:50,MANHATTAN,10032.0,40.835308,-73.943980,"(40.835308, -73.94398)",BROADWAY,WEST 159 STREET,NaN,...,sedan,NaN,NaN,NaN,"BROADWAY WEST 159 STREET, New York, USA",car/suv,car/suv,None,None,None
2056540,01/23/2024,14:00,MANHATTAN,10032.0,40.836678,-73.949135,"(40.836678, -73.949135)",NaN,NaN,669 WEST 158 STREET,...,sedan,NaN,NaN,NaN,"669 WEST 158 STREET, New York, USA",car/suv,car/suv,None,None,None
2056541,01/17/2024,16:30,MANHATTAN,10065.0,40.765550,-73.967865,"(40.76555, -73.967865)",NaN,NaN,583 PARK AVENUE,...,NaN,NaN,NaN,NaN,"583 PARK AVENUE, New York, USA",car/suv,None,None,None,None
2056542,01/23/2024,10:57,NaN,NaN,NaN,NaN,NaN,WEST STREET,NaN,NaN,...,station wagon/sport utility vehicle,NaN,NaN,NaN,"WEST STREET, New York, USA",car/suv,car/suv,None,None,None

In [87]:
for i in motor.Street[1:100]:
    test(i)

In [84]:
# Delete this eventually
#motor2 = motor.copy()
motor = motor2.copy()

NameError: name 'motor2' is not defined

In [8]:
len(motor.loc[motor.LOCATION.isnull() & motor.Street.notnull()]), len(motor.loc[motor.LOCATION.notnull() & motor['ZIP CODE'].isnull()])

(202734, 444217)

In [15]:
#motor.loc[motor['NUMBER OF PERSONS INJURED'] != motor['NUMBER OF PEDESTRIANS INJURED'] + motor['NUMBER OF CYCLIST INJURED'] + motor['NUMBER OF MOTORIST INJURED']]
motor.loc[motor['NUMBER OF PERSONS INJURED'] != motor['NUMBER OF PEDESTRIANS INJURED'] + motor['NUMBER OF CYCLIST INJURED'] + motor['NUMBER OF MOTORIST INJURED']]

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,Street
2606,04/08/2021,19:55,BRONX,10459.0,"(40.830307, -73.89873)",0.0,1.0,0,0,0,...,NaN,NaN,NaN,4407509,E-Bike,NaN,NaN,NaN,NaN,1281 UNION AVENUE
5830,04/24/2021,3:43,BROOKLYN,11226.0,"(40.643063, -73.95166)",0.0,1.0,0,0,0,...,NaN,NaN,NaN,4410388,Sedan,E-Bike,NaN,NaN,NaN,ROGERS AVENUE CLARENDON ROAD New York
19611,05/06/2021,14:02,STATEN ISLAND,10307.0,"(40.505527, -74.23819)",0.0,1.0,0,0,0,...,NaN,NaN,NaN,4415906,E-Bike,Pick-up Truck,NaN,NaN,NaN,HYLAN BOULEVARD SPRAGUE AVENUE New York
24446,06/30/2022,14:29,BROOKLYN,11219.0,"(40.633083, -74.00558)",0.0,1.0,0,0,0,...,Unspecified,NaN,NaN,4542311,Tractor Truck Diesel,Sedan,E-Scooter,NaN,NaN,FORT HAMILTON PARKWAY 60 STREET New York
29255,10/02/2021,2:46,BRONX,10457.0,"(40.84497, -73.90247)",0.0,1.0,0,0,0,...,NaN,NaN,NaN,4463262,E-Bike,NaN,NaN,NaN,NaN,WEBSTER AVENUE ITTNER PLACE New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021521,10/13/2023,22:40,NaN,NaN,"(40.75702, -74.00494)",0.0,1.0,0,0,0,...,NaN,NaN,NaN,4670341,E-Scooter,NaN,NaN,NaN,NaN,12 AVENUE New York
2028039,11/03/2023,23:39,BRONX,10469.0,"(40.87571, -73.84206)",0.0,1.0,0,0,0,...,NaN,NaN,NaN,4679918,E-Scooter,NaN,NaN,NaN,NaN,GIVAN AVENUE SEXTON PLACE New York
2045630,06/27/2023,23:18,NaN,NaN,"(40.753647, -73.81307)",0.0,1.0,0,0,0,...,NaN,NaN,NaN,4644509,E-Scooter,NaN,NaN,NaN,NaN,JASMINE AVENUE New York
2048827,10/30/2023,1:16,BRONX,10452.0,"(40.835445, -73.923386)",0.0,1.0,0,0,0,...,NaN,NaN,NaN,4675146,SCOOTER,NaN,NaN,NaN,NaN,SHAKESPEARE AVENUE JEROME AVENUE New York
2055637,12/19/2023,16:22,NaN,NaN,"(40.739357, -73.89103)",0.0,1.0,0,0,0,...,NaN,NaN,NaN,4692319,E-Scooter,NaN,NaN,NaN,NaN,QUEENS BOULEVARD 73 STREET New York

In [353]:
# Define the slice size
j = 100

# Create a new blank column 'location'
motor['mapsapi'] = ''

# Define dynamic dataframes for geocoding and reverse geocoding
geocoding = motor.loc[motor.LOCATION.isnull() & motor.Street.notnull()]
reverse_geocoding = motor.loc[motor.LOCATION.notnull() & motor['ZIP CODE'].isnull()]

print("Geocoding: " + str(len(geocoding)))
print("Reverse Geocoding: " + str(len(reverse_geocoding)))

# # Extract latitudes and longitudes of the addresses where location is null but address is present
# for i in range(j, len(geocoding) + j, j):
#     geocoding[i-j: i].mapsapi = geocoding[i-j: i].Street.apply(lambda x: lat_long(x))
#     print("Slice " + str(i-j) + " to " + str(i) + " is geocoded.")

# Extract addresses from longitudes and latitudes where location is present but zip code is absent
for i in range(j, len(motor) + j, j):
    reverse_geocoding[i-j: i].mapsapi = reverse_geocoding[i-j: i].LOCATION.apply(lambda x: address(x))
    print("Slice " + str(i-j) + " to " + str(i) + " is reverse geocoded.")

Geocoding: 474
Reverse Geocoding: 1623
Slice 0 to 100 is reverse geocoded.
Slice 100 to 200 is reverse geocoded.
Slice 200 to 300 is reverse geocoded.
Slice 300 to 400 is reverse geocoded.
Slice 400 to 500 is reverse geocoded.

KeyboardInterrupt:

In [ ]:
# Define a function to extract borough from the mapsapi
def borough(mapsapi):
    try:
        mapsapi = str(mapsapi).upper()
        borough = np.where('BROOKLYN' in mapsapi, 'BROOKLYN',
                    np.where('QUEENS' in mapsapi, 'QUEENS',
                    np.where('MANHATTAN' in mapsapi, 'MANHATTAN',
                    np.where('BRONX' in mapsapi, 'BRONX',
                    np.where('STATEN ISLAND' in mapsapi, 'STATEN ISLAND', None)))))
        return borough
    except:
        return None

# Define a function to extract zip code from the mapsapi
def zipcode(mapsapi):
    try:
        mapsapi = str(mapsapi).replace(' ', '').split(',')
        i = mapsapi.index('USA')
        zipcode = mapsapi[i-1].replace('NY', '')
        return int(zipcode) if len(str(zipcode)) == 5 else None
    except:
        return 0
    
# Define a function to get borough from zipcode
def borough_zip(zipcode):
    try:
        borough = np.where(zipcode in range(10000, 10290), 'MANHATTAN',
              np.where(zipcode in range(10450, 10480), 'BRONX',
              np.where(zipcode in range(11200, 11260), 'BROOKLYN',
              np.where(zipcode in range(10300, 10320), 'STATEN ISLAND',
              np.where(zipcode in range(11000, 11110), 'QUEENS',
              np.where(zipcode in range(11350, 11700), 'QUEENS', None))))))
        return borough
    except:
        return None

In [245]:
# Populate the LOCATION column with the latitude and longitude of the address
motor.loc[motor.LOCATION.isnull(), 'LOCATION'] = motor.loc[motor.LOCATION.isnull()].mapsapi.apply(lambda x: (x.latitude, x.longitude))

# Populate the BOROUGH column with the latitude and longitude of the address
motor.loc[motor.BOROUGH.isnull(), 'BOROUGH'] = motor.loc[motor.BOROUGH.isnull()].mapsapi.apply(lambda x: borough(x))

# Populate the ZIPCODE column with the latitude and longitude of the address
motor.loc[motor['ZIP CODE'].isnull(), 'ZIP CODE'] = motor.loc[motor['ZIP CODE'].isnull()].mapsapi.apply(lambda x: zipcode(x))

# Update and populate BOROUGH according to Zip Codes
motor.loc[motor['ZIP CODE'].notnull(), 'BOROUGH'] = motor.loc[motor['ZIP CODE'].notnull()]['ZIP CODE'].apply(lambda x: borough_zip(x))

### Vehicle Type Code Analysis

In [ ]:
# Got rate limited while using OpenAI's GPT-3 API
# import openai

# openai.api_key = "xxx"

# # Define the function to get the vehicle type
# def vehicle_type(vehicle):
#     prompt = "Categorise the word " + vehicle + " into one of the following buckets -  \
#               ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other. Don't give any other answers. \
#               Just categorise and return the name of the relevant bucket and nothing else."

#     messages = [
#         {"role": "system", "content": "You are a helpful assistant."},
#         {"role": "user", "content": prompt},]

#     chat_completion = openai.ChatCompletion.create(
#                 model="gpt-3.5-turbo", 
#                 messages=messages)

#     return chat_completion.choices[0].message.content

# Using Together.AI API to get the vehicle type classification
from openai import OpenAI

TOGETHER_API_KEY = "xxx"

client = OpenAI(
  api_key=TOGETHER_API_KEY,
  base_url='https://api.together.xyz/v1',)

# Define the function to get the vehicle type
def vehicle_type(vehicle):
  if pd.notnull(vehicle):
    prompt = "Categorise the word " + vehicle + " into one of the following buckets -  \
              ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other. Don't give any other answers. \
              Just categorise and return the name of only the relevant bucket and nothing else. Just return the answer."

    messages = [
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": prompt},]

    chat_completion = client.chat.completions.create(
                model="teknium/OpenHermes-2p5-Mistral-7B",
                messages=messages)

    return chat_completion.choices[0].message.content
  else:
    return None

In [28]:
# Generate a combined list of all vehicle codes
codes = list(set(list(itertools.chain(motor['VEHICLE TYPE CODE 1'].unique(), 
                                      motor['VEHICLE TYPE CODE 2'].unique(), 
                                      motor['VEHICLE TYPE CODE 3'].unique(), 
                                      motor['VEHICLE TYPE CODE 4'].unique(), 
                                      motor['VEHICLE TYPE CODE 5'].unique()))))

# Create a dataframe to store the vehicle codes and types
vehicles = pd.DataFrame(codes, columns = ['Code'])
vehicles['Type'] = ''

# Call the function to get the vehicle type for each row
for i in range(494, len(vehicles)):
    try:
        vehicles.Type[i] = vehicle_type(vehicles.Code[i])
        # time.sleep(0.5)
    except:
        print("Failed row " + str(i) + " due to " + str(sys.exc_info()[0]))
        pass

Failed row 495 due to <class 'TypeError'>
Failed row 1292 due to <class 'KeyboardInterrupt'>
Failed row 1315 due to <class 'KeyboardInterrupt'>
Failed row 1822 due to <class 'KeyboardInterrupt'>

            Code        Type
0             te       other
1     moped bike  motorcycle
2      cargo van   truck/bus
3          nyc d       other
4     ford ambul     car/suv
...          ...         ...
1820         psh       other
1821  boom crane       other
1822       12 pa
1823     unkwown       other
1824         suv     car/suv

[1825 rows x 2 columns]

In [62]:
# merge motor and vehicles
motor = motor.merge(vehicles, left_on = 'VEHICLE TYPE CODE 1', right_on = 'Code', how = 'left', suffixes = ('', ' VEHICLE 1'))
motor = motor.merge(vehicles, left_on = 'VEHICLE TYPE CODE 2', right_on = 'Code', how = 'left', suffixes = ('', ' VEHICLE 2'))
motor = motor.merge(vehicles, left_on = 'VEHICLE TYPE CODE 3', right_on = 'Code', how = 'left', suffixes = ('', ' VEHICLE 3'))
motor = motor.merge(vehicles, left_on = 'VEHICLE TYPE CODE 4', right_on = 'Code', how = 'left', suffixes = ('', ' VEHICLE 4'))
motor = motor.merge(vehicles, left_on = 'VEHICLE TYPE CODE 5', right_on = 'Code', how = 'left', suffixes = ('', ' VEHICLE 5'))

# Rename and Drop unnecessary columns
motor.rename(columns = {'Type': 'Type VEHICLE 1', 'Code': 'Code VEHICLE 1'}, inplace = True)
motor.drop(['Code VEHICLE 1', 'Code VEHICLE 2', 'Code VEHICLE 3', 'Code VEHICLE 4', 'Code VEHICLE 5'], axis = 1, inplace = True)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,Street,Type VEHICLE 1,Type VEHICLE 2,Type VEHICLE 3,Type VEHICLE 4,Type VEHICLE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,sedan,NaN,NaN,NaN,"WHITESTONE EXPRESSWAY 20 AVENUE, New York, USA",car/suv,car/suv,None,None,None
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,"QUEENSBORO BRIDGE UPPER, New York, USA",car/suv,None,None,None,None
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,pick-up truck,NaN,NaN,NaN,"THROGS NECK BRIDGE, New York, USA",car/suv,truck/bus,None,None,None
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,"1211 LORING AVENUE, New York, USA",car/suv,None,None,None,None
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,"SARATOGA AVENUE DECATUR STREET, New York, USA",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056538,01/23/2024,16:10,STATEN ISLAND,10301.0,40.612442,-74.094635,"(40.612442, -74.094635)",NaN,NaN,146 LONGVIEW ROAD,...,sedan,NaN,NaN,NaN,"146 LONGVIEW ROAD, New York, USA",car/suv,car/suv,None,None,None
2056539,01/23/2024,12:50,MANHATTAN,10032.0,40.835308,-73.943980,"(40.835308, -73.94398)",BROADWAY,WEST 159 STREET,NaN,...,sedan,NaN,NaN,NaN,"BROADWAY WEST 159 STREET, New York, USA",car/suv,car/suv,None,None,None
2056540,01/23/2024,14:00,MANHATTAN,10032.0,40.836678,-73.949135,"(40.836678, -73.949135)",NaN,NaN,669 WEST 158 STREET,...,sedan,NaN,NaN,NaN,"669 WEST 158 STREET, New York, USA",car/suv,car/suv,None,None,None
2056541,01/17/2024,16:30,MANHATTAN,10065.0,40.765550,-73.967865,"(40.76555, -73.967865)",NaN,NaN,583 PARK AVENUE,...,NaN,NaN,NaN,NaN,"583 PARK AVENUE, New York, USA",car/suv,None,None,None,None
2056542,01/23/2024,10:57,NaN,NaN,NaN,NaN,NaN,WEST STREET,NaN,NaN,...,station wagon/sport utility vehicle,NaN,NaN,NaN,"WEST STREET, New York, USA",car/suv,car/suv,None,None,None

### Contributing Factor Type Analysis
Unique values for contributing factor type (60-30) - overall homogeneous \
len(list(motor['CONTRIBUTING FACTOR VEHICLE 1'].unique())), len(list(motor['CONTRIBUTING FACTOR VEHICLE 2'].unique())), len(list(motor['CONTRIBUTING FACTOR VEHICLE 3'].unique())), len(list(motor['CONTRIBUTING FACTOR VEHICLE 4'].unique())), len(list(motor['CONTRIBUTING FACTOR VEHICLE 5'].unique()))

### People Killed/Injured Analysis
We have ~100 rows where number of people killed doesn't sum up. \
motor.loc[motor['NUMBER OF PERSONS INJURED'] != motor['NUMBER OF PEDESTRIANS INJURED'] + motor['NUMBER OF CYCLIST INJURED'] + motor['NUMBER OF MOTORIST INJURED']]

We have ~7,000 rows where number of people injured doesn't sum up. \
motor.loc[motor['NUMBER OF PERSONS INJURED'] != motor['NUMBER OF PEDESTRIANS INJURED'] + motor['NUMBER OF CYCLIST INJURED'] + motor['NUMBER OF MOTORIST INJURED']]

We have ~25 rows where both don't match up. \
motor.loc[(motor['NUMBER OF PERSONS INJURED'] != motor['NUMBER OF PEDESTRIANS INJURED'] + motor['NUMBER OF CYCLIST INJURED'] + motor['NUMBER OF MOTORIST INJURED']) & (motor['NUMBER OF PERSONS KILLED'] != motor['NUMBER OF PEDESTRIANS KILLED'] + motor['NUMBER OF CYCLIST KILLED'] + motor['NUMBER OF MOTORIST KILLED'])]

### Format and Save the data

In [64]:
motor.columns = ['COLLISION_ID', 
                 'CRASH DATE', 'CRASH TIME', 
                 'ZIP CODE', 'LOCATION', 'BOROUGH', 'LONGITUDE', 'LATITUDE', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
                 'NUMBER OF PERSONS INJURED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF MOTORIST INJURED',
                 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST KILLED',
                 'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
                 'VEHICLE TYPE CODE 1', 'Type VEHICLE 1', 'VEHICLE TYPE CODE 2', 'Type VEHICLE 2', 'VEHICLE TYPE CODE 3', 'Type VEHICLE 3', 'VEHICLE TYPE CODE 4', 'Type VEHICLE 4', 'VEHICLE TYPE CODE 5', 'Type VEHICLE 5']

#save the dataframe to a csv file
motor.to_csv('motor.csv', index = False)

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'Street', 'Type VEHICLE 1', 'Type VEHICLE 2', 'Type VEHICLE 3',
       'Type VEHICLE 4', 'Type VEHICLE 5'],
      dtype='object')