In [14]:
import pandas as pd
from zipfile import ZipFile
import os
import warnings
warnings.filterwarnings('ignore')

In [15]:
with ZipFile('motor.csv.zip') as z:
    all_files = z.namelist()
    motor = pd.read_csv(z.open(all_files[0]))

| Column Name	| Description	| Type |
| ----- | --- | --- |
| CRASH DATE	 | Occurrence date of collision | Date & Time |
 |CRASH TIME	 | Occurrence time of collision | Plain Text |
 |BOROUGH	 | Borough where collision occurred | Plain Text |
 |ZIP CODE	 | Postal code of incident occurrence | Plain Text |
 |LATITUDE	 | Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) | Number |
 |LONGITUDE	 | Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) | Number |
 |LOCATION	 | Latitude , Longitude pair | Location |
 |ON STREET NAME	 | Street on which the collision occurred | Plain Text |
 |CROSS STREET NAME	 | Nearest cross street to the collision | Plain Text |
 |OFF STREET NAME	 | Street address if known | Plain Text |
 |NUMBER OF PERSONS INJURED	 | Number of persons injured | Number |
 |NUMBER OF PERSONS KILLED	 | Number of persons killed | Number |
 |NUMBER OF PEDESTRIANS INJURED	 | Number of pedestrians injured | Number |
 |NUMBER OF PEDESTRIANS KILLED	 | Number of pedestrians killed | Number |
 |NUMBER OF CYCLIST INJURED	 | Number of cyclists injured | Number |
 |NUMBER OF CYCLIST KILLED	 | Number of cyclists killed | Number |
 |NUMBER OF MOTORIST INJURED	 | Number of vehicle occupants injured | Number |
 |NUMBER OF MOTORIST KILLED	 | Number of vehicle occupants killed | Number |
 |CONTRIBUTING FACTOR VEHICLE 1	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |CONTRIBUTING FACTOR VEHICLE 2	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |CONTRIBUTING FACTOR VEHICLE 3	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |CONTRIBUTING FACTOR VEHICLE 4	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |CONTRIBUTING FACTOR VEHICLE 5	 | Factors contributing to the collision for designated vehicle | Plain Text |
 |COLLISION_ID	 | Unique record code generated by system. Primary Key for Crash table. | Number |
 |VEHICLE TYPE CODE 1	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |
 |VEHICLE TYPE CODE 2	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |
 |VEHICLE TYPE CODE 3	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |
 |VEHICLE TYPE CODE 4	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |
 |VEHICLE TYPE CODE 5	 | Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other) | Plain Text |

In [19]:
motor.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [27]:
GM_API_KEY = 'AIzaSyBCwYi27cXYlRWTM04KJgHBjjhJLzkao2M'
from geopy.geocoders import GoogleV3
geolocator = GoogleV3(api_key=GM_API_KEY)
location = geolocator.geocode(motor['ON STREET NAME'][0])
print('Latitude: '+ str(location.latitude)+', Longitude: '+str(location.longitude), Zipcode: '+str(location.postal))

SyntaxError: unterminated string literal (detected at line 5) (3893111853.py, line 5)

In [28]:
location

Location(Whitestone Expy, Queens, NY, USA, (40.7763265, -73.8287455, 0.0))

In [ ]:
def lat_long(address):
    location = geolocator.geocode(address)
    if location != None:
      return (location.latitude, location.longitude)
    else:
      return np.NaN

In [ ]:
df['LAT_LON'] = df['unique_address'].apply(lambda x: service_geocode(geolocator, x))
df[['unique_address','LAT_LON']].head()